---
import {
  findAssetAttribute,
  findTextAttribute,
  getElement,
} from "@/lib/stoatiUtils";

const data = await getElement("75c0c603-7143-4eb5-8f89-48f17cb0c836");

const asset = findAssetAttribute(data[0].data, "logo");
---

<div class="flex gap-4 font-semibold py-2 border-b-2 w-full justify-center">
  <div class="flex max-w-screen-lg justify-between w-full items-center px-2">
    <img src={asset?.data.url} class="max-h-[30px]" />
    <div class="flex gap-2 md:gap-8 text-l items-center">
      <a href="/" class="hover:font-bold">Accueil</a>
      <a href="/gallerie" class="hover:font-bold">Gallerie</a>
      <a href="/contact" class="hover:font-bold">Contact</a>
    </div>
  </div>
</div>
