---
import Menu from "@/components/Menu/Menu.astro";

import "../styles/globals.css";
import {
  findAssetAttribute,
  findTextAttribute,
  getElement,
} from "@/lib/stoatiUtils";

const data = await getElement("homepage");

const name = findTextAttribute(data[0].data, "name");

const asset = findAssetAttribute(data[0].data, "logo");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href={asset?.data.url} />
    <meta name="generator" content={Astro.generator} />
    <title>{name?.data.text}</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <div class="pt-4 w-full">
      <Menu />
    </div>
    <slot />
  </body>
</html>
